/* gen rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.row {
    display: flex;
}

/* col base */
.col-1 {
    flex-basis: calc((100% / 12) * 1) ;
    max-width: calc((100% / 12) * 1);
}

.col-2 {
    flex-basis: calc((100% / 12) * 2) ;
    max-width: calc((100% / 12) * 2);
}

.col-3 {
    flex-basis: calc((100% / 12) * 3) ;
    max-width: calc((100% / 12) * 3);
}

.col-4 {
    flex-basis: calc((100% / 12) * 4) ;
    max-width: calc((100% / 12) * 4);
}

.col-5 {
    flex-basis: calc((100% / 12) * 5) ;
    max-width: calc((100% / 12) * 5);
}

.col-6 {
    flex-basis: calc((100% / 12) * 6) ;
    max-width: calc((100% / 12) * 6);
}

.col-7 {
    flex-basis: calc((100% / 12) * 7) ;
    max-width: calc((100% / 12) * 7);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8) ;
    max-width: calc((100% / 12) * 8);
}

.col-9 {
    flex-basis: calc((100% / 12) * 9) ;
    max-width: calc((100% / 12) * 9);
}

.col-10 {
    flex-basis: calc((100% / 12) * 10) ;
    max-width: calc((100% / 12) * 10);
}

.col-11 {
    flex-basis: calc((100% / 12) * 11) ;
    max-width: calc((100% / 12) * 11);
}

.col-12 {
    flex-basis: calc((100% / 12) * 12) ;
    max-width: calc((100% / 12) * 12);
}


/* position col */

.start {
    justify-content: start;
}

.end {
    justify-content: end;
}

.center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}